.DS_Store
.sopify/
*.epub
*.pdf
*.mobi
*.azw3
*.djvu
*.txt
.sources/
/sources/
*.[aA][zZ][wW]
*.[kK][fF][xX]
*.[dD][oO][cC][xX]
*.[dD][oO][cC]
*.[rR][tT][fF]
*.[fF][bB]2
/[bB][oO][oO][kK][sS]/**/*.[mM][dD]
/[bB][oO][oO][kK][sS]/**/*.[mM][aA][rR][kK][dD][oO][wW][nN]
__pycache__/
*.pyc
